/* Write your CSS here */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
}
@media screen and (mi-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.image {
  height: 100px;
  width: 100px;
  padding-right: 12px;
}
.heading {
  font-size: 32pxx;
  color: #ffff;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}
.image-container {
  display: flex;
  flex-direction: row;
}
.blog-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
